<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %> 
<body>
    <%- include('./partials/header') %> 
        <!-- <h1 class="pruebaTitle animate__animated animate__fadeInDown animate__slow" style="margin-bottom: 40px
        ;">No hay inscripciones para pagar</h1> -->

        <h1 class="pruebaTitle animate__animated animate__fadeInDown animate__slow" style="margin-bottom: 40px
        ;">Inscripciones a pagar</h1>
<div class="payContainer">
    <% for(let i = 0 ; i < hipico.length ; i ++) {%> 
    <div class="pay">
        <h2><%= hipico[i].siglas %> </h2>

        <% for(let j = 0 ; j < hipico[i].Concurso.length ; j ++) {%> 
            <h3><%= hipico[i].Concurso[j].nombre %> </h3>
            <% for(let k = 0 ; k < hipico[i].Concurso[j].Prueba.length ; k++) {%> 
                <div class="payCourse">
                    <h4 style="text-align: center;">Pba Nro:<%= hipico[i].Concurso[j].Prueba[k].numero %>, <%= hipico[i].Concurso[j].Prueba[k].altura %>mts, <%= hipico[i].Concurso[j].Prueba[k].dia %>   </h4>
                    <h5 style="text-align: center;">Precio: $<%= hipico[i].Concurso[j].Prueba[k].precio %></h5>
                    <h5 style="text-align: center;">Inscripcion(es)</h5>
                    <% for(l = 0 ; l < hipico[i].Concurso[j].Prueba[k].Inscripcion.length ; l ++) {%> 
                        <h6 style="text-align: center;"><%= hipico[i].Concurso[j].Prueba[k].Inscripcion[l].apellido.toUpperCase() %>, <%= hipico[i].Concurso[j].Prueba[k].Inscripcion[l].nombre.toUpperCase()  %> con <%= hipico[i].Concurso[j].Prueba[k].Inscripcion[l].caballo.toUpperCase()  %>   </h6>
                        <a style="color: red;" href="/user/<%= userLoggedIn.id %>/<%= hipico[i].Concurso[j].Prueba[k].Inscripcion[l].id %>/inscripciones/eliminar">Eliminar Inscripción</a>
                    <% } %>  
                </div>
                <% } %>  
        <% } %>   
    <h4 style=" margin-top: 20px;">Total Parcial: $ <%= totalFinal[i] %> </h4>
    <h4 style=" margin-top: 20px;">Servicios 10%:      $ <%= comision[i] %> </h4>
    <h3 style="border-top: 1px solid black; margin-top: 20px;">Total Final:      $ <%= totalCom[i] %>  </h3>
    <button><a href="/user/<%= userLoggedIn.id %>/inscripciones/pagar">Pagar</a></button>
    </div>
    <% } %>  
    </div>      
    <%- include('./partials/scripts') %>
    </body>