<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %> 
<body>
    <%- include('./partials/header') %> 
    <div class="bigCont">
        <div class="dataContainer" >
            <h1 style="text-transform: capitalize;">Hola, <%= usuario.nombre %></h1>
            <h3>Datos Personales</h3>
            <h4 style="text-transform: capitalize;"><%= usuario.nombre %>  <%= usuario.apellido %> </h4>
            <h4><%= usuario.email %> </h4>
            <h4><%= usuario.telefono %> </h4>
            <button><a href="/user/<%= usuario.id %>/edit">Editar Datos</a></button>
        </div>
    </div>
    <%- include('./partials/scripts') %>
</body>