<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %> 
<body>
    <%- include('./partials/header') %> 
      <div class="infoConcurso animate__animated animate__zoomIn animate__slow">
        <img src="/images/uploads/<%= concurso.Hipico.logo %>" alt="">
        <h1><%= concurso.nombre %> </h1>
        <h2><%= concurso.Hipico.nombre %> </h2>
        <h3><%= concurso.fecha %> </h3>
        <h4><a href="<%= concurso.anteprograma %>">Mira el anteprograma!</a></h4>
      </div>
      <div class="pruebasContainer">
          <% if(concurso.estado == 3 ){ %> 
            <h3 style="color: red;">Las inscripciones de este concurso ya cerraron</h3>
          <% } %>
          <h3>Pruebas</h3>
          <h5 class="slide"><i class="fas fa-arrow-right"></i> ¡Desliza para inscribirte y ver el detalle de la prueba!</h5>
          <div class="tableContainer">
                <table>
                    <tr>
                        <% if(concurso.estado != 3) {%> 
                        <th></th>
                        <% } %>                         
                        <th></th>
                        <th>Nombre</th>
                        <th>Dia</th>
                        <th>Hora</th>
                        <th>Numero</th>
                        <th>Tipo</th>
                        <th>Altura</th>
                        <th>Definicion</th>
                        <th>Articulo</th>
                        <th>Categoria</th>
                        <th>Valor</th>
                        <th>Cantidad</th>
                    </tr>
                    <% for(let i = 0 ; i < concurso.Prueba.length ; i ++) {%> 
                        <tr>
                            <% if(concurso.estado != 3) {%>
                                <td><a href="/concurso/<%= concurso.id %>/<%= concurso.Prueba[i].id %>/inscripcion">Inscribirme</a></td>                            
                            <% } %>                              
                            <td><a href="/concurso/<%= concurso.id %>/<%= concurso.Prueba[i].id %>/detail">Detalle</a></td>
                            <td><%= concurso.Prueba[i].nombre %></td>
                            <td><%= concurso.Prueba[i].dia %></td>
                            <td><%= concurso.Prueba[i].hora %></td>
                            <td><%= concurso.Prueba[i].numero %></td>
                            <td><%= concurso.Prueba[i].tipo %></td>
                            <td><%= concurso.Prueba[i].altura %></td>
                            <td><%= concurso.Prueba[i].definicion %></td>
                            <td><%= concurso.Prueba[i].articulo %></td>
                            <td>
                                <% for(let j = 0 ; j < concurso.Prueba[i].Categoria.length ; j ++) {%> 
                                    <%= concurso.Prueba[i].Categoria[j].nombre %> 
                                <% } %> 
                            </td>
                            <td><%= concurso.Prueba[i].precio %> </td>
                            <td>53</td>            
                        </tr>
                    <% } %> 
                </table>
            </div>
      </div>
      <%- include('./partials/scripts') %>
      </body>