<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %> 
<body>
    <%- include('./partials/header') %> 
    <h1 class="pruebaTitle animate__animated animate__fadeInDown animate__slow">Formulario de Inscripción</h1>
      <div class="formContainer">
          <form action="/concurso/<%= concurso.id %>/<%= prueba.id %>/inscripcion" method="POST" >
              <label for="name">Nombre</label>
              <input type="text" name="nombre" >
              <label for="surname">Apellido</label>
              <input type="text" name="apellido" >
              <label for="horse">Caballo</label>
              <input type="text" name="caballo">
              <label for="program">Categoria</label>
                <select name="categoria" id="">
                    <option value=""></option>
                    <% for (let i = 0 ; i < prueba.Categoria.length ; i ++) {%> 
                    <option value="<%= prueba.Categoria[i].id %>"><%= prueba.Categoria[i].nombre %> </option>
                    <% } %> 
                </select>
              <label for="hipico">Club Hipico</label>
              <p>*Por favor escribir unicamente las siglas</p>
              <input type="text" name="club" id="">
                <label for="country">Pais</label>
                <select name="pais" id="">
                    <option value=""></option>
                    <% for(let i = 0 ; i < paises.length ; i++) {%> 
                    <option value="<%= paises[i].siglas %>"><%= paises[i].nombre %> </option>
                    <% } %> 
                </select>
                <p>*Las inscripciones solo se realizan despues de efectuar el pago. Para hacerlo, hace click en "Pagar inscripciones", luego de llenar el formulario</p>
              <button type="submit">Inscribirme</button>
          </form>
      </div>
      <%- include('./partials/scripts') %>
      </body>