<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %> 
<body>
    <%- include('./partials/header') %> 
    <% if(total == 0 ) {%> 
        <h1 class="pruebaTitle animate__animated animate__fadeInDown animate__slow" style="margin-bottom: 40px
        ;">No hay inscripciones para pagar</h1>
    <% } else {%> 
        <h1 class="pruebaTitle animate__animated animate__fadeInDown animate__slow" style="margin-bottom: 40px
        ;">Inscripciones a pagar</h1>
<div class="payContainer">
    <div class="pay">
      <% for(let i = 0 ; i < iFilter.length ; i ++) {%> 
          <div class="payCourse">
              <h4>Pba Nro:<%= iFilter[i].Prueba.numero %>, <%= iFilter[i].Prueba.altura %>mts, <%= iFilter[i].Prueba.dia %>   </h4>
              <h5>Monto: $<%= iFilter[i].Prueba.precio %></h5>
              <h6><%= iFilter[i].apellido.toUpperCase() %>, <%= iFilter[i].nombre.toUpperCase() %> con <%= iFilter[i].caballo.toUpperCase() %>   </h6>
              <h6><%= iFilter[i].Prueba.Concurso.nombre %> en el <%= iFilter[i].Prueba.Concurso.Hipico.siglas %>  </h6>
              <a style="color: red;" href="/user/<%= userLoggedIn.id %>/<%= iFilter[i].id %>/inscripciones/eliminar">Eliminar Inscripción</a>
          </div>
      <% } %> 
      
      <h4 style=" margin-top: 20px;">Total Parcial:      $<%= totalParcial %> </h4>
      <h4 style=" margin-top: 20px;">Servicios 10%:      $<%= servicios%> </h4>
      <h3 style="border-top: 1px solid black; margin-top: 20px;">Total Final:      $<%= total %> </h3>

      <button><a href="/user/<%= userLoggedIn.id %>/inscripciones/pagar">Pagar</a></button>
    </div>
    <% } %> 
      
      </div>
      
      <%- include('./partials/scripts') %>
      </body>